.navbar {
  width: 100%;
  display: flex;

  justify-content: space-between;
  align-items: center;
  background: var(--color-black);
  padding: 1rem 2rem;
}
.navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar-logo img {
  width: 150px;
}
.navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
}
.navbar-links li:hover {
  color: var(--color-gray);
}
.navbar-login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-login a {
  margin: 0 1rem;
  text-decoration: none;
  transition: 0.5s ease;
}
.navbar-login a:hover {
  border-bottom: 1px solid var(--color-golden);
}
.navbar-login div {
  width: 1px;
  height: 30px;
  background-color: var(--color-gray);
}

.navbar-smallscreen {
  display: none;
}
.navbar-smallscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-black);
  transition: 0.5s ease;
  flex-direction: column;
  z-index: 5;
}
